/* 指定元素选择器 */
p {
	color: red;
	margin-top: 30rpx;
	margin-left: 55%;
	font-weight: 900;
	margin-bottom: 70rpx;
	text-align: left;
	width: 300rpx;
}

.Digest {
	background-color: bisque;
	margin: 0;
	padding: 0;
	top: 60rpx;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	/* 滚动条 */
	overflow-y: scroll;
}

ol>li {

	margin: 20rpx 0rpx;
	margin-left: -80rpx;
	padding: 0 30rpx 0 30rpx;
}

ul>li {
	margin-top: 35rpx;
}

/deep/.cu-bar {
	height: 80rpx;
}
